@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Login</h1>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["message"]
            </div>
        }

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="@Model.SystemAccount.AccountEmail" class="col-sm-4 col-form-label text-right">Email</label>
                <div class="col-sm-8">
                    <input asp-for="@Model.SystemAccount.AccountEmail" class="form-control" />
                    <span asp-validation-for="@Model.SystemAccount.AccountEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="@Model.SystemAccount.AccountPassword" class="col-sm-4 col-form-label text-right">Password</label>
                <div class="col-sm-8">
                    <input asp-for="@Model.SystemAccount.AccountPassword" type="password" class="form-control" />
                    <span asp-validation-for="@Model.SystemAccount.AccountPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
