@page
@model OilPaintingArt_KieuQuangMinh.Pages.OilPaitingArtPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["message"] != null)
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        Searching by artist <input name="artist" value="@Model.ArtistSearching" />
        Searching by style <input name="style" value="@Model.StyleSearching" />
        <input name="newCurPage" value=1 hidden/>
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
@if (Model.ListOPA == null || Model.ListOPA.Count == 0)
{
    <p>Please enter different searching string one more time!</p>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].ArtTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].OilPaintingArtLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].OilPaintingArtStyle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].NotablFeatures)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].PriceOfOilPaintingArt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].StoreQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListOPA[0].Supplier.CompanyName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOPA)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilPaintingArtLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilPaintingArtStyle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotablFeatures)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceOfOilPaintingArt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.OilPaintingArtId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.OilPaintingArtId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.OilPaintingArtId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="d-flex justify-content-between">
    <form method="get" class="form-inline">
        <input type="hidden" name="newCurPage" value="@(Model.CurrentPage - 1)" />
        <input type="hidden" name="style" value="@Model.StyleSearching" />
        <input type="hidden" name="artist" value="@Model.ArtistSearching" />
        <button type="submit" class="btn btn-primary" @(Model.CurrentPage <= 1 ? "disabled" : "")>Previous</button>
    </form>

    <span>Page @Model.CurrentPage of @Model.TotalPages</span>

    <form method="get" class="form-inline">
        <input type="hidden" name="newCurPage" value="@(Model.CurrentPage + 1)" />
        <input type="hidden" name="style" value="@Model.StyleSearching" />
        <input type="hidden" name="artist" value="@Model.ArtistSearching" />
        <button type="submit" class="btn btn-primary" @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")>Next</button>
    </form>
</div>